*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #c7c7c7;
}

.container{
    box-sizing: border-box;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    position: relative;
    background: rgb(158, 143, 124);
}

header {
    width: 100%;
    height: auto;
    margin: 75px 0px 5px;
    background: rgb(232, 228, 227);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

#header1{
    width: auto;
    height: auto;
}

#header2{
    width: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-family: 'Courier Prime', monospace;
    font-size: 48px;
}

#fantasma1, #fantasma2{
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    width: auto;
    height: auto;
    color: #034132;
    font-size: 14px;
    font-weight: bold;
}

#fantasma1 a, #fantasma2 a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #034132;
    text-decoration: none;
}

#header1 img{
    width: 200px;
    height: 150px;
    box-shadow: none;
}

#decoracionNavbar{
    width: 100%;
    height: 8px;
    top: 10px;
    z-index: 1;
    position: sticky;
    background: #ffffd5;
}

#navbar a{
    color: #ffffd5;
}

#bordeBotonNavbar{
    border: solid 3px #ffffd5;
    color: #ffffd5;
}

#navbar{
    top: 12px;
    position: sticky;
    z-index: 1;   
    background-color: rgb(3, 65, 50);
}

.nav-foto{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(158, 143, 124);
}

nav img{
    width: 175px;
    height: 175px;
    margin: 7px;
    border-radius: 50%;
}

img{
    width: 200px;
    height: 200px;
    margin: 5px;
    box-shadow: 2px 2px 5px black;
}

.datos{
margin: 30px 30px;
}

div p, div a{
    margin: 5px;
}

.centrar2{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(158, 143, 124)
}

.articulo{
    margin: auto;
    display: flex;
    width: 420px;
    height: 300px;
    margin: 15px;
    background: rgb(158, 143, 124);
}

.contenedor_articulo_foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 300px;
}

.contenedor_articulo_foto img{
    border-radius: 10px;
}

.contenedor_articulo_texto{
    align-items: center;
    width: 200px;
    height: 300px;
}

.titulo_articulo {
    padding: 15px;
    text-align: center;
    width: 200px;
    height: 50px;
}

.contenido_articulo{
    padding: 10px;
    text-align: justify;
    width: 200px;
    height: 250px;
}

#centrar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #544c4a;
}

.centrar3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #dcc594;
}

#centrar3 img{
    margin: 5px;
}

#carousel {
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
}

.carousel-item img{ 
    box-shadow: none;
}

footer{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background: rgb(3, 65, 50);
}

footer img{
    box-shadow: none;
}

footer p, footer a{
    margin:0;
    text-decoration: none;
    color: #ffffd5;
}

#citoconceptos{
    margin: 172px 20px 20px 20px;
    color: #ffffd5;
}

@media (max-width: 991px) {
    #citoconceptos{
        margin: 40px 20px 20px 20px;
        color: #ffffd5;
    }
}